* {
     padding: 0;
     margin: 0;

}

#caja{

    width: 1200px;
    height: 1300px;
    margin: 0.5em auto;
    padding: 0.5em;
}
#nav{

    height: 5%;
    background: #6e6c6c;
    padding-top: 1%;
    border-style: solid ;
    border-color: #6e6c6c;
    margin: 0,3em;


}
#header{
    height: 32%;
    background: #fff;
    border-radius: 1em;
    padding-top: 1%;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin: 1em;

}
#bloque1{

    height: 8%;
    background: #fff;
    border-radius:  1em;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin: 1em;
}
#bloque2{

    height: 15%;
    background: #fff;
    border-radius:1em;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin: 1em;
}
#bloque3{

    height: 10%;
    background: #fff;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin: 1em;
}
#bloque4{

    height: 15%;
    background: #fff;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin: 1em;
}

#footer{
    height:5%;
    background: #fff;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #4d629b;
    margin:1em;
}
#section{
    height:40%;
    width: 98%;
    background: #a4a4a4;
    border-radius: 1em;
    float:left;
    margin: 0.5em;

}
.articulo{
      width: 96%;
      height: 65%;
      background: #c7c0c0;
      margin: 1em;
      border-radius: 1em;
}
.articulo1{
    width: 96%;
    height: 65%;
    background: #c7c0c0;
    margin: 1em;
    border-radius: 1em;
}
.articulo2{
    width: 96%;
    height: 65%;
    background: #c7c0c0;
    margin: 1em;
    border-radius: 1em;
}
.articulo3{
    width: 96%;
    height: 65%;
    background: #c7c0c0;
    margin: 1em;
    border-radius: 1em;
}
.banner{
     width: 98%;
     height: 55%;
     border : 1px solid red;
     margin : auto;

     
     background-size: 100% 100%;
     

     animation: banner 10s infinite;
     animation-direction: alternate;
    
}
@keyframes banner {
    0%, 30% {
        background-image: url(img/costanera-mar-del-plata-1130391.webp) ;
        opacity: 1;
    }
    31%, 34% {
        opacity: 0,1;
    }
    35%, 65% {
        background-image: url(img/fotomardel.jpg);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0,1;
    }
    70%, 100% {
        opacity: 1;
        background-image: url(img/Banner1.jpg);
    }
}
.buttons{
    width: 3,5%;
    height:40%;
    margin-left: 10%;
    background: blue;
    
}
/*.avatar  {
        width:300px;
        height:300px;
        border-radius:150px;
    }
     cambia estos dos valores para definir el tamaño de tu círculo *
    height: 50%;
    width: 50%;
     los siguientes valores son independientes del tamaño del círculo 
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    style="width:5%; margin-bottom: 5%;"
    <div class="avatar">
                <img src="./img/perfil2.jpg" alt="perfil2" style="background-image: url(...)">
              </div>*/

