<div class="row">
   <h1>Experiencia Laboral</h1>
   <div class="col-lg-2"></div>
   <div class="col-lg-10">
       <ul>
            <li><h2>Trabajo1</h2> - <h3>(years)</h3> </li>
            <p>lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste animi aut veniam obcaecati dicta quibusdam veritatis optio maxime fugiat asperiores omnis quae nobis voluptatibus explicabo voluptate debitis, libero similique!
            </p>
        </ul>
        <ul>
            <li><h2>Trabajo2</h2> - <h3>(years)</h3> </li>
            <p>lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste animi aut veniam obcaecati dicta quibusdam veritatis optio maxime fugiat asperiores omnis quae nobis voluptatibus explicabo voluptate debitis, libero similique!
            </p>
        </ul>
        <ul>
            <li><h2>Trabajo3</h2> - <h3>(years)</h3> </li>
            <p>lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste animi aut veniam obcaecati dicta quibusdam veritatis optio maxime fugiat asperiores omnis quae nobis voluptatibus explicabo voluptate debitis, libero similique!
            </p>
        </ul>

   </div><hr>
</div>