<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil2.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Miguel Dominguez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nam iste animi aut veniam obcaecati dicta quibusdam veritatis optio maxime fugiat asperiores omnis quae nobis voluptatibus explicabo voluptate debitis, libero similique!</p>
        </span>
    </div>
</div>
